<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Spring Security Example</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand" style="color:#f5f5f5" th:utext="'<b>' + ${admin.username} + '</b>' + ' with roles: ' + ${#strings.listJoin(roles, ' ')}"></span>
    <a href="/logout" class="navbar-text">Logout</a>
</nav>
<div>
    <h1>Users</h1>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Password</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user:${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.email}"></td>
            <td><a th:href="@{/admin/edit/{id}(id=${user.id})}">Edit</a></td>
            <td><a th:href="@{/admin/delete/{id}(id=${user.id})}">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <br>
    <a href="/admin/new">Create new User</a>
    <br>
    <a href="/logout">Logout</a>
</div>
</body>
</html>