<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Spring Security Example</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand" style="color:#f5f5f5" th:utext="'<b>' + ${admin.username} + '</b>' + ' with roles: ' + ${#strings.listJoin(roles, ' ')}"></span>
    <a href="/logout" class="navbar-text">Logout</a>
</nav>
<main class="container-fluid">
    <div class="row">
        <div class="col-2 col-md-2 col-xl-2 px-sm-2 px-0">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">
                <div class="d-flex align-items-start">
                    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Главная</button>
                        <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Профиль</button>
                    </div>
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">...</div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">...</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10 bg-light">
            <h1 style="margin-top: 10px">Admin panel</h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/admin/new">New User</a>
                </li>
            </ul>
            <div class="card">
                <h5 class="card-header">
                    All users
                </h5>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <div>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Password</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user:${users}">
                                    <td th:text="${user.id}"></td>
                                    <td th:text="${user.username}"></td>
                                    <td th:text="${user.password}"></td>
                                    <td th:text="${user.email}"></td>
                                    <td th:text="${#strings.listJoin(roles, ' ')}"></td>
                                    <td><button th:href="@{/admin/edit/{id}(id=${user.id})}" type="button" class="btn btn-primary">Edit</button></td>
                                    <td><button th:href="@{/admin/delete/{id}(id=${user.id})}" type="button" class="btn btn-danger">Delete</button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>