<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body style="background-color: #FFCB73;">
    <div class="container-fluid p-5">
        <div class="card m-auto" style="width: 40rem;">
            <form id="formRegistration" class="text-center">
                <div class="mb-3">
                <label for="usernameRegistration" class="form-label">Username</label>
                <input type="text" class="form-control" id="usernameRegistration" aria-describedby="usernameHelp">
                <div id="usernameHelp" class="form-text">The name to be displayed on the profile.</div>
                </div>
                <div class="mb-3">
                <label for="passwordRegistration" class="form-label">Password</label>
                <input type="password" class="form-control" id="passwordRegistration">
                </div>
                <button type="submit" class="btn btn-primary" id="registrationButton">Submit</button>
            </form>
        </div>
    </div>

    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/registration.js}"></script>
</body>
</html>